<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="dashboard.css">
  </head>
  <body>
    <!-- Main Page -->
    <div id="main-screen">
      <!-- Navbar -->
      <%- include('partials/navbar-admin') %>

      <div class="user-profile col d-flex justify-content-center">
        <div class="card text-bg-light m-3 p-2 ">
            <div class="card-header text-uppercase fw-bold">Profile List</div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" class="text-uppercase">Name</th>
                      <th scope="col" class="text-uppercase">Username</th>
                      <th scope="col" class="text-uppercase">E-Mail</th>
                      <th scope="col" class="text-uppercase" colspan="2">Biodata</th>
                      <th scope="col" class="text-uppercase">History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% players.forEach(user => { %>
                      <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.name %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td colspan="2">fgmhgfdsfghdfghgfdasfghdshjhgfdghj</td>
                        <td>Win: 1 <br>Lose: 2 <br> Draw: 3</td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
            </div>
          </div>
      </div>
    </div>
    
    <div id="footer" class="container">
      <footer class="py-3 p-4 ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 credits"><p class="text-muted">&#169; 2018 Your Games, Inc. All Rights Reserved</p></div>
            <div class="col-md-5 text-uppercase sub-credits"><p class="fw-bold justify-content-end" >Privacy Policy | Terms of Service | Code of Conduct</p></div>
          </div>
        </div>
      </footer>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
