<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="update.css">
  </head>
  <body>
    <!-- Main Page -->
    <div id="main-screen">
      <!-- Navbar -->
      <%- include('partials/navbar-logged-in') %>

      <div class="user-profile col d-flex justify-content-center">
        <div class="card text-bg-light m-3 p-2 "style="width: 30rem;">
            <div class="card-header text-uppercase fw-bold">Update Profile</div>
            <div class="card-body">
                <form action="/update/<%= player.id %>" method="post">
                    <div class="mb-3 ">
                      <label for="name" class="form-label text-uppercase">Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="<%= player.name %>">
                    </div>
                    <div class="mb-3">
                      <label for="username" class="form-label text-uppercase">Username</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="<%= player.username %>">
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label text-uppercase">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="<%= player.email %>">
                    </div>
                    <div class="mb-3">
                        <label for="biodata" class="form-label text-uppercase">Biodata</label>
                        <input type="text" class="form-control" id="biodata" name="biodata">
                      </div>
                    <div class="mb-3">
                      <label for="password" class="form-label text-uppercase">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
      </div>
    </div>
    
    <div id="footer" class="container">
      <footer class="py-3 p-4 ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 credits"><p class="text-muted">&#169; 2018 Your Games, Inc. All Rights Reserved</p></div>
            <div class="col-md-5 text-uppercase sub-credits"><p class="fw-bold justify-content-end" >Privacy Policy | Terms of Service | Code of Conduct</p></div>
          </div>
        </div>
      </footer>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
